

{% extends "layout.html" %} {% block content %}
<div class="content-section">
  <form method="POST" action="">
    
    <fieldset class="form-group">
      <div class="form-group">
          <input type="text" id="lname" name="value"><br><br>
          <input type="submit" id="lname" name="input"><br><br>
        <div class="invalid-feedback">

      </div>
    </fieldset>
    <div class="form-group">
    </div>
    
  </form>
  <div> 
    {% if msg == True %}
     <span> {{ msg }} </span>
    {% endif %}
  </div>
</div>
{% endblock content %}