<!-- {% extends "layout.html" %} {% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        {{ form.house_price.label(class="form-control-label") }}

        {% if form.house_price.errors %}
        {{ form.house_price(class="form-control form-control-lg") }}
        <div class="invalid-feedback">
          {% for error in form.house_price.errors %}
          <span> {{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.house_price(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info ")}}
    </div>
  </form>
</div>
{% endblock content %} -->
